<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Reportes - Ventas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flaskst.css') }}">
</head>

<body>
  <header>
    <nav>
      <a href="{{ url_for('index') }}">Reportes</a>
      <div style="float:right;">
        <span>Bienvenido {{ current_user.nombre_usuario }}</span>
        &nbsp;|&nbsp;
        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        <a href="{{ url_for('login') }}">Iniciar sesión</a>
      </div>
    </nav>
  </header>



  <div class="flash {{ cat }}">{{ msg }}</div>


  <main>
    <h1>Hola, aquí puedes ver reportes de ventas ☻</h1>
    <p>Ayudeme profe, el capi me ha estado negreando para trabajar las últimas 72 horas :c</p>
  </main>


</body>

</html>