/* Login */
.contenedor-login {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenedor-login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-login label {
    display: block;
    margin-bottom: 5px;
}

.contenedor-login input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contenedor-login button {
    width: 100%;
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}